html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    height: 100%;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  @media screen and (min-width: 636px) {
    .hamburger {
        display: none;
    }
}

html.dark {
  color: #fff;
  background-color: #172444;
}

.dark .nav-links a {
  color: #fff;
}