---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Brain Dump";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>
      This is where I will post about my random thoughts and my learning journeys.
    </p>
    <ul>
      {
        allPosts.map((post) => (
          <>
            <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
          </>
        ))
      }
    </ul>
 
</BaseLayout>
