---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="container">
    <main class="about-me">
      <p class="quote">
        "A jack of all trades is a master of none, but oftentimes better than a
        master of one"
      </p>
      <p class="quote-source">- Some amazing person</p>
      <div class="me-pic">
        <img src="/avatar-with-glasses.svg" alt="a stylized avatar of me" />
      </div>
    <article class="about-me__content">
      <p>
        Hi! I'm Adam and I'm an experienced full-stack software engineer with a passion
        for problem solving and personal development.
      </p>

      <p>
        I'm currently rebuilding my personal website using Astro. Ever since I
        saw astro being used on a <a href="https://www.learnwithjason.dev/">LearnWithJason</a> youtube video, I've been
        enchanted by its simple yet powerful approach to web development.
      </p>
      <p>This website is gonna be rather rough around the edges for the foreseeable future. I realised that the easiest way for me to beat my chronic procrastination is to focus on actually put something live rather than endlessly worrying about how bad it looks.</p>
    </article>
      
    </main>
    
  </div>
</BaseLayout>

<style>
  .container {
    height: 100%;
    display: grid;
    place-items: center;

  }

  main {
    display: flex;
    flex-direction: column;
    max-width: max(300px, 80%);
    align-items: center;
  }

  article {
    max-width: max(200px, 80%);
    background-color: rgb(119, 119, 119);
    border-radius: 10px;
    padding: 2rem 3rem;
    font-size: 2rem;
  }

  .quote {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
  }
  .quote-source {
    color: rgb(202, 202, 202);
  }

  .me-pic > img {
    margin-top: 1rem;
    display: block;
  }
</style>
