---
import BaseLayout from '../layouts/BaseLayout.astro';
title: "CodePen Embed"
---
<BaseLayout>
  <h1>CodePen Embed</h1>
  <iframe height="600" width="800" scrolling="no" title="Wall Of Kanji" src="https://codepen.io/blueberrypie/embed/WYEXpB?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
    See the Pen <a href="https://codepen.io/blueberrypie/pen/WYEXpB">
    Wall Of Kanji</a> by Adam (<a href="https://codepen.io/blueberrypie">@blueberrypie</a>)
    on <a href="https://codepen.io">CodePen</a>.
  </iframe>


</BaseLayout>
